.bg-dark {
  background-color: #f2f2f2!important;
}

.navbar-dark .navbar-brand {
  color: #5f6368
}

.navbar-dark {
  color: #5f6368
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #5f6368
}

.navbar-dark .navbar-nav .nav-link {
  color: #5f6368
}

.blue {
  background-color: #3ab292 !important;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding-left: 30px;
}
